In [1]:
import pandas as pd
import numpy as np

In [7]:
string_data=pd.Series([' Ant','Bull','Cat','Dog','Elephant'])

In [5]:
string_data_lower=string_data.str.lower()

In [6]:
string_data_lower.str.capitalize()

0         Ant
1        Bull
2         Cat
3         Dog
4    Elephant
dtype: object

In [9]:
string_data.str.strip()

0         Ant
1        Bull
2         Cat
3         Dog
4    Elephant
dtype: object

In [10]:
string_data.str.isnumeric()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [13]:
indic=pd.date_range('01/01/2000',periods=8,freq='30T')
indic

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:30:00',
               '2000-01-01 01:00:00', '2000-01-01 01:30:00',
               '2000-01-01 02:00:00', '2000-01-01 02:30:00',
               '2000-01-01 03:00:00', '2000-01-01 03:30:00'],
              dtype='datetime64[ns]', freq='30T')

In [15]:
df = pd.DataFrame({'A':['A','B','C','D','E','F','G','H'],
                 'B':[50,100,150,200,250,300,350,400]},index=indic)

In [16]:
df

                     A    B
2000-01-01 00:00:00  A   50
2000-01-01 00:30:00  B  100
2000-01-01 01:00:00  C  150
2000-01-01 01:30:00  D  200
2000-01-01 02:00:00  E  250
2000-01-01 02:30:00  F  300
2000-01-01 03:00:00  G  350
2000-01-01 03:30:00  H  400

In [17]:
df.at_time('1:30')

                     A    B
2000-01-01 01:30:00  D  200

In [18]:
string_data = pd.Series(['string one','String-Two','String:three','nan','$453','num%34'])

In [22]:
string_data.str.contains('%|-')

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [33]:
string_data

0      string one
1      String-Two
2    String:three
3             nan
4            $453
5          num%34
dtype: object

In [39]:
string_data.str.find('e')

0     9
1    -1
2    10
3    -1
4    -1
5    -1
dtype: int64